// Variables de color
$color-primary: #1b2226;
$color-secondary: #2a3034;
$white: #ffffff;
$text-primary: #a8c4c5;
$color-card-bg: rgba(255, 255, 255, 0.1);
$color-buttons: #3ec7cd;

.container-home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
      // Fondo con gradiente
    background: 
    radial-gradient(600px at 10% 20%, rgba(62, 199, 205, 0.15), transparent),
    radial-gradient(800px at 90% 80%, rgba(62, 199, 205, 0.12), transparent),
    #1b2226;
    padding: 0 7rem;
    gap: 2rem;

    .content-left{
        flex: 1.4;
        max-width: 600px;
        align-items: center;

        h1{
            color: $white;
            font-size: 3.5rem;
            line-height: 1.2;
            margin-bottom: 1.5rem;
            font-weight: 700;
        }

        p{
            color: $text-primary;
            font-size: 1.1rem;
            line-height: 1.6;
            margin-bottom: 2rem;
            margin-top: 0;
        }

        button{
            padding: 1rem 3.5rem;
            font-size: 1.1rem;
            font-weight: 700;
            color: $white;
            background-color: $color-buttons;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover{
                transform: translateY(-2px);
                filter: brightness(0.95);
            }
        }
    }

    .content-right{
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
        img{
            width: 100%;
        }
    }

    // Responsive
    @media (max-width: 1024px) {
        padding: 0 4rem;
        gap: 2rem;

        .content-left h1{
            font-size: 2.5rem;
        }
    }

    @media (max-width: 768px) {
        flex-direction: column;
        padding: 7rem 1.8rem;
        justify-content: center;

        .content-left{
            text-align: center;
            max-width: 500px;

            h1{
                font-size: 2.3rem;
            }

            p{
                font-size: 1rem;
            }
        }

        .content-right{
            max-width: 600px
        }
    }
}