// Variables de color
$color-primary: #1b2226;
$color-secondary: #2a3034;
$white: #ffffff;
$text-primary: #a8c4c5;
$color-card-bg: rgba(255, 255, 255, 0.1);
$color-buttons: #3ec7cd;

.container-home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $color-primary;

    h1{
        color: $white;
        font-size: 3.5rem;
        margin-bottom: 1rem;

    }
    p{
        color: $text-primary;
        font-size: 1.2rem;
        margin-top: 5rem;
        margin-bottom: 3rem;
    }
    
    button{
        padding: 1rem 3rem;
        font-size: 1.2rem;
        color: $white;
        background-color: $color-buttons;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover{
            background-color: darken($color-buttons, 10%);
        }
    }
     
}
